<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnguigu.mybatis.mapper.DepartmentMapper">

    <resultMap id="DepartmentBaseResultMap" type="Department">
        <id property="id" column="department_id"/>
        <result property="name" column="DEPARTMENT_NAME"/>
        <result property="location" column="DEPARTMENT_LOCATION"/>
    </resultMap>

    <resultMap id="DepartmentResultMap" type="Department" extends="DepartmentBaseResultMap">
        <collection property="users" column="department_id" ofType="User" fetchType="lazy"
                    select="com.hnguigu.mybatis.mapper.UserMapper.findByDepartmentId"/>
    </resultMap>

    <select id="findById" resultMap="DepartmentBaseResultMap">
        SELECT DEPARTMENT_ID, DEPARTMENT_NAME, DEPARTMENT_LOCATION
        FROM MYBATIS_DEPARTMENT
        WHERE DEPARTMENT_ID = #{id}
    </select>

    <select id="findAll" resultMap="DepartmentResultMap">
        SELECT DEPARTMENT_ID,
               DEPARTMENT_NAME,
               DEPARTMENT_LOCATION
        FROM MYBATIS_DEPARTMENT
    </select>
</mapper>
