<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hnguigu.mybatis.mapper.EmployeeRoleMapper">

    <resultMap id="EmployeeRoleResultMap" type="EmployeeRole">
        <id property="id" column="employee_role_id"/>

        <!--
            多对一关系使用<association>
        -->
        <association property="role" column="role_id" javaType="Role"
                     resultMap="com.hnguigu.mybatis.mapper.RoleMapper.RoleBaseResultMap"/>
        <association property="employee" column="employee_id" javaType="Employee"
                     resultMap="com.hnguigu.mybatis.mapper.EmployeeMapper.EmployeeBaseResultMap"/>
    </resultMap>

</mapper>
